doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src="/javascripts/layoutSearch.js" defer='true')
      script(src="/javascripts/layoutModes.js" defer='true')
      script(src="/javascripts/layoutMenuButton.js" defer='true')
  body
    .top 
      .logo
        a(href='/') CarFast
      .search
        form(action="")
          input(type="text")
      .mode
        img(src="/images/icons/arrows/triangleBlack.svg", alt="Arrow icon")
        div(class='beamsContainer')
          img(src="/images/icons/beams/highBlack.svg",alt='High beams icon', id='highBeamBlack')
          img(src='/images/icons/beams/highWhite.svg',alt='High beams icon' class='invisible', id='highBeamWhite')
        img(src="/images/icons/arrows/triangle2White.svg", alt="Arrow icon")
        div(class='beamsContainer')
          img(src='/images/icons/beams/lowBlack.svg',alt='Low beams icon', id='lowBeamBlack')
          img(src='/images/icons/beams/lowWhite.svg',alt='Low beams icon' class='invisible', id='lowBeamWhite')
    nav
      .menu 
        img(src='/images/icons/menuIcons/menuWhite2.svg' alt='Menu icon' class='white')
        img(src='/images/icons/menuIcons/menuBlack.svg' alt='Menu icon' class='black')
      .searchOptions
        div(class='option')
          select(id='makeOption' name='makeOption')
            option(value='' hidden='true' selected='true') Make
        div(class='option')
          select(id='yearOption' name='yearOption')
            option(value='' hidden='true' selected='true') Year
        div(class='option')
          select(id='bodyOption' name='bodyOption')
            option(value='' hidden='true' selected='true') Body
        div(class='option')
          select(id='energyOption' name='energyOption')
            option(value='' hidden='true' selected='true') Energy  
        div(class='option')
          select(id='priceOption' name='priceOption')
            option(value='' hidden='true' selected='true') Price
        div(class='option') 
          select(id='locationOption' name='locationOption')
            option(value='' hidden='true' selected='true') Location
      .searchIcon 
        img(src="/images/icons/searchIcons/searchBlack.svg" alt='Search icon' id='searchBlack')
        img(src="/images/icons/searchIcons/searchWhite.svg" alt='Search icon' class='invisible' id='searchWhite')


    .content-wrapper
      .main-view
        block content
      .side-bar
          a(href='/inventory/cars') Cars  
          a(href='/inventory/makes') Makes
          a(href='/inventory/year') Year
          a(href='/inventory/models') Models
          a(href='/inventory/versions') Versions
          a(href='/inventory/add-make') Add Make
          a(href='/inventory/add-model') Add Model
          a(href='/inventory/add-car') Add Car
      
