doctype html
html
  head
    title CarFast
    link(rel='icon', type='image/svg', href='/images/icons/logo/logo2black.svg')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src="/javascripts/layoutSearch.js" defer='true')
      script(src="/javascripts/layoutModes.js" defer='true')
      script(src="/javascripts/layoutMenuButton.js" defer='true')
      script(src="/javascripts/bottomSearchReacher.js" defer='true')
  body
    .top 
      .logo
        a(href='/') CarFast
        img(src="/images/icons/logo/logo2black.svg" alt='CarFast logo' class='black')
        img(src="/images/icons/logo/logo2white.svg" alt='CarFast logo' class='white')
      .search
        form(action="/inventory/fuzzy_search" method='GET' class='invisible' id='mainForm')
          .searchBarContainer
            input(type="text" id='mainSearchBar' name='searchText')
            .searchFuzzyResults(class='invisible')
          .searchIcon(id='mainSearchIcon' class='searchTop') 
            img(src="/images/icons/searchIcons/searchBlack.svg" alt='Search icon' id='searchBlack')
            img(src="/images/icons/searchIcons/searchWhite.svg" alt='Search icon' class='invisible' id='searchWhite')
          .searchControls(class='invisible')
            div(class='option')
              select(id='makeOption' name='makeOption')
                option(value='' hidden='true' selected='true') Make
            div(class='option')
              select(id='yearOption' name='yearOption')
                option(value='' hidden='true' selected='true') Year
            div(class='option')
              select(id='bodyOption' name='bodyOption')
                option(value='' hidden='true' selected='true') Body
            div(class='option')
              select(id='energyOption' name='energyOption')
                option(value='' hidden='true' selected='true') Energy  
            div(class='option')
              select(id='priceOption' name='priceOption')
                option(value='' hidden='true' selected='true') Price
            div(class='option') 
              select(id='locationOption' name='locationOption')
                option(value='' hidden='true' selected='true') Location
      .mode
        img(src="/images/icons/arrows/triangleBlack.svg", alt="Arrow icon")
        div(class='beamsContainer')
          img(src="/images/icons/beams/highBlack.svg",alt='High beams icon', id='highBeamBlack')
          img(src='/images/icons/beams/highWhite.svg',alt='High beams icon' class='invisible', id='highBeamWhite')
        img(src="/images/icons/arrows/triangle2White.svg", alt="Arrow icon")
        div(class='beamsContainer')
          img(src='/images/icons/beams/lowBlack.svg',alt='Low beams icon', id='lowBeamBlack')
          img(src='/images/icons/beams/lowWhite.svg',alt='Low beams icon' class='invisible', id='lowBeamWhite')
    nav
      .menu 
        img(src='/images/icons/menuIcons/menuWhite2.svg' alt='Menu icon' class='white')
        img(src='/images/icons/menuIcons/menuBlack.svg' alt='Menu icon' class='black')
      .searchIcon(class='invisible' class='searchIconBottom') 
        img(src="/images/icons/searchIcons/searchBlack.svg" alt='Search icon' id='searchBlack' class='black' class='reacher')
        img(src="/images/icons/searchIcons/searchWhite.svg" alt='Search icon' id='searchWhite' class='white' class='reacher')
    .content-wrapper
      .main-view
        block content
      .side-bar
          a(href='/inventory/cars') Cars  
          a(href='/inventory/makes') Makes
          a(href='/inventory/year') Years
          a(href='/inventory/models') Models
          a(href='/inventory/versions') Versions
          a(href='/inventory/add-make') Add Make
          a(href='/inventory/add-car') Add Car
      
