extends layout 
block content 
    h1(class='pageTitle') Models
    if groupedModels
        .groupCardsContainer 
            for group in groupedModels 
                .groupCard
                    h2 #{group.makeName}
                        .modelsListContainer
                            for model in group.makeModels 
                                h3
                                    a(href=`/inventory/model/model-page/${model.makeId}/${model.formattedName}`) #{model.modelName}
    
    
    