extends layout 
block content 
    h1 Models
    if groupedModels 
        for group in groupedModels 
            h2 #{group.makeName}
                for model in group.makeModels 
                    h3
                        a(href=`/inventory/model/model-page/${model.makeId}/${model.formattedName}`) #{model.modelName} 
    
    
    