extends layout 
block content 
 h1 Versions
 section(class='bodySection')
 h2 By Body
 h3 Automobiles 
 h3 SUVs 
 h3 Trucks
 h3 Vans 
 section(class='energySection')
 h2 By Energy
 h3 Gas 
 h3 Diesel
 h3 Hybrid
 h3 Electric