extends layout 
block content
    h1 Years
    .years-content
        .years-options
            label(for='year-select') Select a specific year
            select(id='year-select')
                option(value='', selected='true', hidden='true') show years
                for year in list 
                    option(value=year._id) #{year.year}
            p or select a period:
        .years-grid-content
            .year-card
                a(href='')
                    p 1990 - 2000 
                    img(src='/images/1990.jpg' alt='90s car dash')
            .year-card 
                a(href='')
                    p 2000 - 2010
                    img(src='/images/2000.jpg' alt='2000s car dash')
            .year-card 
                a(href='')
                    p 2010 - 2020
                    img(src='/images/2010.jpg' alt='2010s car dash')
            .year-card 
                a(href='')
                    p 2020 - Present
                    img(src='/images/2020.jpg' alt='2020s car dash')