extends layout
block scripts 
    script(src='/javascripts/yearHandler.js', defer='true')
    script(src="/javascripts/layoutSearch.js" defer='true')
    script(src="/javascripts/layoutModes.js" defer='true')
    script(src="/javascripts/layoutMenuButton.js" defer='true')
block content
    h1(class='pageTitle') Years
    .years-content
            .years-options
                .years-option-1
                    form(method='POST' action='/inventory/year/yearFormPost')
                        label(for='year-select') 
                            p Select a specific year                            
                                select(id='year-select', name='year')
                                    option(value='', selected='true', hidden='true') show years
                                        for year in yearList 
                                            option(value=year) #{year}  
                                input(type="hidden" name='period')
                .years-option-2
                    p or select a period:
            //video(autoplay='true' loop='true' muted src='/videos/oldVsNewCars.webm' height='auto' width='200px' id='oldVsNewVideo')
            .years-grid-content
                .year-card
                    p 1979 and below 
                    img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/f_auto,q_auto:low,w_370,h_247,r_5,dpr_2/wkgkuerzubfzpd1ef73q' alt='60s car dash')
                .year-card(data-period='eighties')
                    p 1980 - 1989 
                    img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/f_auto,q_auto:low,w_370,h_247,r_5,dpr_2/kripregbnknfsmg5flk3' alt='80s car dash')
                .year-card
                    p 1990 - 1999 
                    img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/f_auto,q_auto:low,w_370,h_247,r_5,dpr_2/yhz9rgkihfmfkcqc1oq5' alt='90s car dash')
                .year-card
                    p 2000 - 2009
                    img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/f_auto,q_auto:low,w_370,h_247,r_5,dpr_2/dmstxnclessaathz5mh0' alt='2000s car dash')
                .year-card
                    p 2010 - 2019
                    img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/f_auto,q_auto:low,w_370,h_247,r_5,dpr_2/bpjaycjtoh5yxm3fecqy' alt='2010s car dash')
                .year-card
                    p 2020 - Present
                    img(src='https://res.cloudinary.com/dpqwimjsm/image/upload/f_auto,q_auto:low,w_370,h_247,r_5,dpr_2/o4q5fgmh8rjgbd3fzgv4' alt='2020s car dash')
            