* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  background-color: #eee;
  font-size: 2em;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

textarea {
  resize: none;
}

.content-wrapper {
  padding-left: 10px;
  display: grid;
  grid-template-columns: 10% 90%;
}

.side-bar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-bar a {
  font-size: 1.5em;
}

.group1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  padding-top: 30px;
  padding-bottom: 60px;
}

.group2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 57px;
  padding-bottom: 100px;
  height: 50%;
  border-top: 1px solid rgb(177, 172, 172);
}

.index-content {
  height: 100%;
  padding-top: 40px;
  padding-left: 40px;
}

.years-content {
  padding-top: 10px;
}

.years-content h1 {
  margin-left: 40px;
  margin-bottom: 2px;
}

.years-options {
  display: flex;
}

.years-options p {
  font-size: 1.1rem;
  font-weight: bold;
}

.years-options > div:first-child select {
  margin-left: 5px;
}

.years-options > div:nth-child(2) {
  margin-left: 5px;
}

.years-grid-content {
  height: auto;
  display: grid;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.years-grid-content div {
  justify-self: center;
  align-self: center;
  height: auto;
  width: auto;
}

.years-grid-content p {
  font-size: 1.6rem;
}

.years-grid-content img {
  width: 100%;
  aspect-ratio: 1.5/1;
  border-radius: 5px;
}

.index-content {
  padding-left: 140px;
}

.index-content span {
  font-size: 1.7rem;
  font-weight: bold;
}

.index-content h1 {
  margin-bottom: 10px;
}

.index-content h2 {
  margin-left: 10px;
}

.index-content h3 {
  margin-bottom: 10px;
}

.index-content ul {
  list-style-type: none;
}

.index-content li {
  margin-bottom: 10px;
  margin-left: 30px;
}

.index-content p {
  margin-left: 10px;
}

.inventory-overview {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
  margin-top: 10px;
}

.inventory-categories {
  padding-left: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.list-card {
  border: 1px solid black;
}

form {
  margin-left: 20%;
}

.form-content-text {
  display: grid;
  row-gap: 17px;
  column-gap: 10px;
  grid-template-columns: 0.1fr auto;
}

.form-content-text label {
  justify-self: end;
}

.form-content-text input {
  width: 100%;
}

.form-content-pictures {
  margin-top: 20px;
}

.form-content-pictures fieldset {
  border: 0px;
}

.form-content-pictures legend {
  margin-bottom: 10px;
}

.form-picture-row {
  margin-bottom: 20px;
  padding-left: 95px;
}

.form-picture-row label {
  margin-bottom: 7px;
}

.form-content-pictures label,
.form-content-pictures input {
  display: block;
}

.form-button-container {
  margin-top: 15px;
  display: flex;
  justify-content: end;
}

.form-button-container button {
  padding-left: 10px;
  padding-right: 10px;
}

.form-add-make {
  width: 240px;
}

.form-add-model {
  width: 200px;
}

.form-add-car {
  width: 610px;
}

.car-basic-info {
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: #eee;
  width: 100%;
}

.car-logo img {
  height: auto;
  max-width: 170px;
  margin-right: 14px;
}

.car-info {
  margin-left: 10vw;
}

.card-technical-general {
  display: flex;
  justify-content: space-around;
}

.card-technical {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  background-color: #eee;
  border-radius: 5px;
}

.card-technical div {
  width: auto;
}

.card-technical-title {
  display: flex;
  align-items: center;
}

.card-technical-title img {
  height: auto;
  width: 40px;
}

.card-technical h4 {
  font-size: 1.3rem;
  margin-left: 10px;
}

.card-technical-rows {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card-technical-row {
  display: inline-flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 0px;
  width: auto;
}

.card-technical-row h5 {
  white-space: nowrap;
}

.card-technical-row img {
  height: auto;
  width: 30px;
}

.card-technical-row h5 {
  margin-left: 3px;
  font-size: 1rem;
}

.cars-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 0.2fr));
  gap: 10px;
}

.car-card {
  border: 1px solid black;
}

.version-row-title {
  font-size: 1.3rem;
}

.version-row-numbers-links {
  display: inline;
}

.version-row-numbers {
  padding-left: 10px;
  font-size: 1.1rem;
}

.version-row-numbers h4 {
  display: inline;
}

.version-row-numbers-links a,
.version-row-numbers-links p {
  display: inline;
}

.version-header {
  display: flex;
  justify-content: space-between;
}

.version-title {
  display: flex;
  align-items: center;
}

.version-title img {
  height: auto;
  width: 80px;
  margin-right: 20px;
}

.version-control {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.delete-warning {
  position: absolute;
  display: flex;
  margin-left: 49%;
  margin-right: 1%;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border: 2px solid rgba(0, 0, 0, 0.764);
  border-radius: 5px;
  z-index: 2;
  background-color: white;
}

.delete-warning-msg {
  display: flex;
  align-items: center;
}

.delete-warning img {
  height: auto;
  width: 54px;
  margin-right: 10px;
}

.delete-warning-controls {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: end;
  padding-right: 30px;
}

.delete-warning-controls a {
  font-weight: bold;
}

.delete-warning-controls > a:first-child {
  margin-right: 25px;
}

.version-cars-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  gap: 10px;
}

.model-title,
.models-list-info {
  display: flex;
  align-items: first baseline;
}

#models-delete-all-warning {
  margin-left: 10%;
  margin-right: 20%;
}

.model-delete-warning {
  margin-left: 5%;
  margin-right: 52%;
}

.model-title a,
.model-list-header a {
  margin-left: 5px;
}

.model-row {
  margin-bottom: 25px;
}

.make-header {
  display: flex;
  justify-content: space-between;
}

.make-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
}

.list {
  display: grid;
  gap: 10px;
}

.car-title {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  width: 100%;
}

.car-title-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.car-info-container {
  display: grid;
  gap: 5px;
  grid-template-columns: 60% 40%;
  place-items: center;
}

.car-technical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}

.car-media {
  display: grid;
  grid-template-rows: 85% 15%;
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.car-media .main-img {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 1fr;
  background-color: black;
  border-radius: 5px;
}

.main-img-container {
  display: grid;
  place-items: center;
}

.main-img-container img {
  max-width: 100%;
  max-height: 100%;
}

.previous-control,
.next-control {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 5px;
}

.main-img-control {
  width: 90%;
}

.main-img-control:hover {
  cursor: pointer;
}

.car-media .side-imgs {
  border-radius: 5px;
  display: grid;
  gap: 3%;
  grid-template-columns: 15% 15% 15% 15% 15%;
  grid-template-rows: 100%;
  height: 100%;
  width: 100%;
  place-content: center;
  margin: auto;
}

.car-media .side-imgs img {
  border-radius: 5px;
  width: 100%;
  height: 70%;
}

.car-media .side-imgs img:hover {
  cursor: pointer;
}

.selected-thumbnail {
  border: 3px solid #7fff00;
}

.invisible {
  display: none;
}

#carAvailable {
  color: #73e600;
  font-size: 1.2rem;
}

#powerIcon {
  width: 40px;
}

#energyIcon {
  width: 25px;
}

#weightIcon {
  width: 35px;
}

#engineIcon {
  width: 35px;
}
