* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 53.3%, 0.4);
  border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00b7ff;
}

nav {
  background-color: white;
  font-size: 2em;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  bottom: 0;
  padding-right: 5px;
  padding-left: 3px;
}

.searchOptions {
  display: none;
  padding-top: 6vh;
  grid-column: 2/3;
}

.searchOptionsList {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
}

.searchFuzzyResults {
  margin-top: 3px;
  position: absolute;
  width: 40vw;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 5;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 4px;
  padding-left: 10px;
  padding-bottom: 7px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 60vh;
  font-size: 1.1rem;
}

.searchFuzzyResults a:hover {
  font-weight: bold;
}

.frozenWhite {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}

.frozenBlack {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}

.logo {
  display: flex;
}

.logoContainer {
  display: grid;
  place-content: center;
  height: 30vh;
}

.logoContainer img {
  max-width: 100vw;
}

.logo a {
  place-self: center;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

.logo img {
  width: 33px;
}

.mode {
  display: grid;
  place-content: center;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  height: 8vh;
  padding-top: 10px;
  padding-bottom: 10px;
  place-self: end;
  align-self: center;
}

.beamsContainer {
  height: 100%;
}

.mode img {
  width: 25px;
}

.search form {
  display: flex;
  align-items: center;
}

.search form input {
  width: 40vw;
  border-radius: 40px;
  padding-left: 30px;
  font-size: 1rem;
  border: 1px solid black;
  align-self: center;
  height: 35px;
}

.searchIcon {
  padding-top: 3px;
  padding-left: 3px;
}

#mainSearchIcon {
  padding-right: 0px;
}

.searchIcon img {
  width: 40px;
}

.searchIconContainer {
  display: flex;
  align-content: center;
}

.search-options {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-left: 10vw;
  padding-right: 30vw;
  gap: 5px;
  z-index: 4;
}

.option {
  display: grid;
  place-content: center;
  height: 100%;
  z-index: 4;
}

.option select {
  border-radius: 40px;
}

.option select:hover {
  cursor: pointer;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

textarea {
  resize: none;
}

.content-wrapper {
  display: flex;
}

.main-view {
  padding-top: 10vh;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 115px;
  width: calc(100vw - 125px);
  height: 100vh;
}

.side-bar {
  height: 100vh;
  width: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  padding-top: 10vh;
  padding-left: 5px;
  padding-bottom: 10vh;
  backdrop-filter: blur(10px);
}

.side-bar a {
  font-size: 1.5em;
}

.side-bar a:hover {
  font-weight: bold;
}

.top {
  position: fixed;
  z-index: 6;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 30px;
}

.menu {
  display: none;
}

.menu img {
  width: 40px;
  transform: rotate(0deg);
  transition: transform 200ms;
}

.menu img:hover {
  cursor: pointer;
}

.menu img:active {
  transform: rotate(360deg);
}

.index-content {
  height: 100%;
}

.index-content h1 {
  font-size: 2.5rem;
}

#versionsTitle {
  margin-bottom: 15px;
}

.years-content {
  padding-top: 10px;
}

.years-content h1 {
  margin-left: 40px;
  margin-bottom: 2px;
}

.years-options {
  display: flex;
}

.years-options p {
  font-size: 1.1rem;
  font-weight: bold;
}

.years-options form {
  margin-left: 0px;
}

.years-options > div:first-child select {
  margin-left: 5px;
  width: auto;
}

.years-options > div:nth-child(2) {
  margin-left: 5px;
}

.years-grid-content {
  height: auto;
  display: grid;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  column-gap: 15px;
  row-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 370px));
  place-content: center;
}

.years-grid-content div {
  justify-self: center;
  align-self: center;
  height: auto;
  width: auto;
}

.years-grid-content p {
  font-size: 1.6rem;
  font-weight: bold;
}

.years-grid-content img {
  width: 100%;
  aspect-ratio: 1.5/1;
  border-radius: 5px;
}

.years-grid-content img:hover {
  cursor: pointer;
}

.index-content span {
  font-size: 1.7rem;
  font-weight: bold;
}

.index-content h1 {
  margin-bottom: 10px;
}

.index-content h2 {
  margin-left: 10px;
}

.index-content ul {
  list-style-type: none;
}

.index-content li {
  margin-bottom: 10px;
}

.index-content p {
  margin-left: 10px;
}

.inventory-overview {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
  margin-top: 10px;
}

.inventory-categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 230px));
  grid-template-rows: repeat(3, 330px);
  column-gap: 5vw;
  row-gap: 2.5vw;
  place-content: center;
  width: 100%;
}

.inventorySectionTitle {
  display: flex;
  gap: 5px;
  align-items: center;
  min-height: 77px;
}

.inventorySectionTitle img {
  max-width: 50px;
}

.inventorySectionTitle #bodyIcon {
  max-width: 75px;
}

.inventorySectionTitle #priceIcon {
  max-width: 44px;
}

.inventorySectionTitle #makeIcon {
  max-width: 44px;
}

.inventorySectionTitle #fuelIcon {
  max-width: 42px;
}

.inventorySectionTitle #yearIcon {
  max-width: 38px;
}

.inventorySectionTitle #originIcon {
  max-width: 42px;
}

.inventorySectionTitle #oldestIcon {
  max-width: 39px;
}

.inventorySection {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.inventorySection ul {
  max-width: 100%;
  height: calc(100% - 77px);
  overflow: hidden;
  overflow-y: auto;
}

.groupCardsContainer {
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: min(12vw, 50px);
}

.groupCard {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modelsListContainer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
  align-items: center;
}

.modelsListContainer h3 {
  font-size: 1.2rem;
}

.card-thumbnail img {
  width: 100%;
  border-radius: 9px;
}

#smallThumb {
  width: 255px;
}

#smallThumb img {
  height: 165px;
  width: 255px;
  border-radius: 9px;
}

.card-info {
  display: flex;
  width: 100%;
}

.card-logo {
  display: grid;
  place-items: center;
  margin-right: 8px;
}

.card-logo img {
  height: 40px;
  width: auto;
}

.card-text {
  overflow: hidden;
}

.card-text p {
  white-space: nowrap;
}

.title {
  overflow: hidden;
}

.card-text .title > p:first-child {
  font-weight: bold;
  color: black;
  font-size: 1.22rem;
}

.card-text .footer p {
  color: black;
}

.autoScrollOnce {
  animation: scrollText 5s linear infinite running;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.form label {
  white-space: nowrap;
}

.form-progress {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50px;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.form-content-text {
  display: grid;
  row-gap: 17px;
  column-gap: 10px;
  grid-template-columns: 0.25fr auto;
}

.form-content-text-new {
  display: grid;
  row-gap: 17px;
  column-gap: 10px;
  grid-template-columns: 30% 30% 30%;
}

.form-content-pic {
  display: grid;
  row-gap: 7px;
  column-gap: 10px;
  grid-template-columns: 0.1fr auto;
}

.form-content-text label,
.form-content-text-new label {
  justify-self: end;
}

.form-content-text-new label {
  grid-column: 1/2;
}

.form-content-text-new input,
.form-content-text-new select {
  grid-column: 2/3;
}

.form-content-text input {
  width: 100%;
}

.form-content-pictures {
  margin-top: 20px;
}

.form-content-pictures fieldset {
  border: 0px;
}

fieldset {
  margin-bottom: 2vh;
}

.form-content-pictures legend {
  margin-bottom: 10px;
}

.form-button-container {
  margin-top: 15px;
  display: flex;
  justify-content: end;
}

.form-button-container button {
  padding-left: 10px;
  padding-right: 10px;
}

.formAddMakeContainer {
  display: grid;
  place-content: center;
}

.form-add-make {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.form-add-make label,
.form-add-make select,
.form-add-make button {
  font-size: 1rem;
}

.form-add-make label {
  font-size: 1.3rem;
}

.form-add-model {
  width: 200px;
}

.form-add-car {
  width: 680px;
}

.car-basic-info {
  margin-top: 5px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 5px;
  background-color: #eee;
  width: 100%;
}

.car-basic-info-section1 {
  display: flex;
}

.car-basic-info-section1 h3 {
  white-space: nowrap;
}

.car-basic-info-section2 {
  display: grid;
  place-content: center;
}

.car-basic-info-section2 .car-info {
  margin-left: 0px;
}

.car-basic-info-section2 .car-info h2 {
  font-size: 1.7rem;
}

.car-basic-info-section3 {
  display: grid;
  place-content: center;
  font-weight: bold;
}

.car-location {
  margin-bottom: 10px;
}

.car-location div:first-child,
.car-contact div:first-child {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.car-location img {
  width: 25px;
  margin-right: 3px;
}

.car-contact img {
  width: 25px;
  margin-right: 3px;
}

.car-contact div:first-child > a:hover,
.car-contact div:first-child > img:hover {
  cursor: pointer;
}

.car-contact div:nth-child(2) {
  border: 1px solid black;
  position: absolute;
  background-color: #eee;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 5px;
  width: 18.7vw;
  height: auto;
  padding-top: 5px;
  padding-bottom: 4px;
}

.car-contact div:nth-child(2) form {
  margin-left: 0px;
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.car-contact div:nth-child(2) input {
  width: 100%;
}

.car-contact div:nth-child(2) button {
  align-self: end;
}

.car-logo {
  display: grid;
  place-content: center;
}

.car-logo img {
  height: auto;
  max-width: 170px;
  max-height: 100px;
  margin-right: 14px;
}

.car-info {
  margin-left: 10vw;
}

.card-technical-general {
  display: flex;
  justify-content: space-around;
}

.card-technical {
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 10px;
  width: auto;
  background-color: #eee;
  border-radius: 5px;
  backdrop-filter: blur(5px);
}

.card-technical div {
  width: auto;
}

.card-technical-title {
  display: flex;
  align-items: center;
}

.card-technical-title-group {
  display: flex;
  align-items: center;
}

.card-technical-title img {
  height: auto;
  width: 40px;
}

.measurementSystem {
  height: 100%;
  display: flex;
  align-self: baseline;
  padding-right: 7px;
  font-weight: bold;
  gap: 2px;
  font-size: 0.8rem;
}

.measurementSystem p:hover {
  cursor: pointer;
}

.card-technical h4 {
  font-size: 1.3rem;
  margin-left: 10px;
}

.engineSpecIconContainer {
  display: grid;
}

.engineSpecIconContainer img {
  width: 30px;
  justify-self: center;
}

.engineSpecIconContainer #powerIcon {
  width: 40px;
}

.row-specs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 10px;
}

.card-technical-rows {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 5px;
  padding-left: 9px;
  overflow: hidden;
}

.card-technical-row {
  display: inline-flex;
  align-items: center;
  width: auto;
  margin-right: 5px;
}

.card-technical-row img {
  height: auto;
  width: 30px;
}

.card-technical-row h5,
#cardTechnicalRowsEngine h5 {
  margin-left: 3px;
  font-size: 1rem;
  white-space: nowrap;
}

.version-specs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.version-row {
  margin-bottom: 30px;
  padding-left: 30px;
}

.version-row-title {
  font-size: 1.1rem;
}

.version-row-numbers-links {
  display: inline;
}

.version-row-numbers {
  font-size: 1.1rem;
}

.version-row-numbers h4 {
  margin-bottom: 5px;
}

.version-row-numbers-links a,
.version-row-numbers-links p {
  display: inline;
}

.version-header {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.version-title {
  display: flex;
  align-items: center;
}

.version-title img {
  height: auto;
  width: 80px;
  margin-right: 20px;
}

.version-control {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.version-cars {
  padding-top: 15px;
}

.version-cars h2 {
  margin-bottom: 15px;
}

.delete-warning {
  position: absolute;
  display: flex;
  margin-left: 49%;
  margin-right: 1%;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border: 2px solid rgba(0, 0, 0, 0.764);
  border-radius: 5px;
  z-index: 2;
  background-color: white;
}

.delete-warning-msg {
  display: flex;
  align-items: center;
}

.delete-warning img {
  height: auto;
  width: 54px;
  margin-right: 10px;
}

.delete-warning-controls {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: end;
  padding-right: 30px;
}

.delete-warning-controls a {
  font-weight: bold;
}

.delete-warning-controls > a:first-child {
  margin-right: 25px;
}

.model-title,
.models-list-info {
  display: flex;
  align-items: first baseline;
}

.model-title-modelPage {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;
}

.models-list-title h1 {
  font-size: 2.3rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

#models-delete-all-warning {
  margin-left: 10%;
  margin-right: 20%;
}

.model-delete-warning {
  margin-left: 5%;
  margin-right: 52%;
}

.model-title a,
.model-list-header a {
  margin-left: 5px;
}

.model-row {
  margin-bottom: 25px;
}

.model-row h2 {
  font-size: 1.8rem;
}

.energyAlternatives h2 {
  font-size: 1.2rem;
}

.energyLinks {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.energyList {
  margin-bottom: 30px;
}

.energyLinks a {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fuelImage picture {
  position: fixed;
  z-index: -1;
}

.fuelDescription {
  padding-top: 14px;
  margin-bottom: 30px;
}

.fuelDescription > p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.descriptionRow > p:nth-child(2) {
  margin-bottom: 20px;
  text-align: justify;
  font-weight: 500;
  font-size: 1.2rem;
}

.descriptionContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 600px));
  place-content: center;
  column-gap: 40px;
  row-gap: 20px;
}

.queryDescription {
  height: auto;
}

.fuelTypeImg {
  z-index: -1;
  opacity: 0.3;
  position: fixed;
  max-width: 100vw;
}

.descriptionTitle {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.make-header {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 15px;
}

.make-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
}

.make-more,
.modelMore {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  gap: 0.3vh;
}

.makeContainer {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 80px;
  gap: 70px;
  flex-wrap: wrap;
}

.makeContainer h2 {
  white-space: nowrap;
}

.makeCard {
  display: flex;
  gap: 10px;
  align-items: center;
}

.makeCard img {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 100px;
}

.makeCard p {
  font-weight: bold;
}

.makeCarInfoRow p {
  display: inline;
}

.otherMakes {
  padding-top: 70px;
}

.otherMakes h2 {
  margin-bottom: 20px;
}

.list,
.version-cars-container,
.cars-container {
  display: grid;
  row-gap: 30px;
  column-gap: 17px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 359.98px));
  place-content: center;
}

.listFlex {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.listFlex .list-card {
  overflow: hidden;
  min-width: 255px;
  width: 255px;
}

#cardInfoModelPage {
  width: 255px;
}

#cardInfoModelPage img {
  max-width: 60px;
  height: auto;
}

.car-card {
  justify-self: center;
}

.car-title {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  width: 100%;
}

dialog {
  z-index: 4;
  margin-left: 50%;
  padding: 5px;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

#deleteCarDialog {
  margin-top: 10vh;
}

dialog button {
  margin-top: 10px;
  font-size: 1.1rem;
}

dialog button:hover {
  cursor: pointer;
}

.car-title-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #00b7ff;
}

.car-title-controls:hover {
  cursor: pointer;
}

.car-info-container {
  display: grid;
  column-gap: 0px;
  grid-template-columns: 60% 40%;
  place-content: center;
  width: 100%;
}

.car-technical {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
}

.car-media {
  display: grid;
  grid-template-rows: 46vw auto;
  background-color: black;
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.car-media .main-img {
  width: 100%;
  height: 100%;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 1fr;
  background-color: black;
  border-radius: 5px;
  place-content: center;
}

.main-img-container {
  display: grid;
  place-items: center;
  width: 100%;
}

.car-media .main-img .main-img-container img {
  max-height: calc(46vw - 24px);
  max-width: 100%;
}

.previous-control,
.next-control {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 5px;
}

.main-img-control {
  width: 100%;
}

.main-img-control:hover {
  cursor: pointer;
}

.car-media .side-imgs {
  border-radius: 5px;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  height: auto;
  width: 100%;
  place-content: center;
  padding-bottom: 9px;
  margin-top: 2px;
  z-index: 2;
}

.car-media .side-imgs img {
  border-radius: 5px;
  width: 78px;
  height: 50px;
  align-self: center;
}

.car-media .side-imgs img:hover {
  cursor: pointer;
}

.yearCarsTitle {
  margin-bottom: 20px;
}

.selected-thumbnail,
.selected {
  border: 3px solid #7fff00;
}

.selectable {
  color: black;
}

.selectedText {
  color: #ffa600;
}

.selectable:hover {
  cursor: pointer;
}

.unselectable {
  color: rgb(199, 198, 198);
}

.versionPageTitle {
  margin-bottom: 20px;
}

.versionPageSection {
  margin-bottom: 20px;
}

.versionPageSection h2 {
  margin-bottom: 14px;
}

.versionPageSection h3 {
  margin-bottom: 4px;
  font-size: 1.4rem;
}

.versionPageSection .listFlex {
  margin-bottom: 20px;
}

.versionPageSection .listCard {
  margin-bottom: 5px;
}

.pageTitle {
  font-size: 2.5rem;
  margin-top: 10px;
}

.titleLegend {
  margin-bottom: 3vh;
  font-size: 1.2rem;
  font-weight: bold;
}

.subtitleLegend {
  font-weight: bold;
  margin-bottom: 2vh;
}

.mandatory-fieldset-buttons {
  width: 100%;
  grid-column: 2/3;
  display: flex;
  justify-content: end;
}

.optional-fieldset-buttons,
.car-form-button {
  display: flex;
  justify-content: end;
  padding-top: 15px;
  gap: 5px;
}

.invisible {
  display: none;
}

.dark {
  background-color: black;
  color: rgb(255, 255, 255);
}

fieldset {
  border: 0px;
}

#lastInputText {
  margin-bottom: 3vh;
}

#makeMainLogo {
  margin-bottom: 20px;
  margin-top: 10px;
  max-width: min(100%, 400px);
}

#measurementSwitch {
  display: flex;
  justify-content: space-between;
}

#cardTechnicalRowsEngine {
  width: 100%;
  display: grid;
  grid-template-columns: auto 94%;
  column-gap: 10px;
  row-gap: 4px;
  align-items: center;
}

#cardTechnicalRowsEngine h5 {
  margin-left: 0px;
}

#carAvailable {
  color: #73e600;
  font-size: 1.2rem;
}

#energyIcon {
  width: 25px;
}

#weightIcon {
  width: 35px;
}

#engineIcon {
  width: 35px;
}

#accelerationIcon {
  width: 25px;
}

#dimensionsIcon {
  width: 24px;
}

#highBeamBlack:hover,
#highBeamWhite:hover,
#lowBeamBlack:hover,
#lowBeamWhite:hover {
  cursor: pointer;
}

.car-description {
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 130px;
  padding-top: 30px;
  text-align: justify;
  max-width: 100%;
}

.car-interests {
  padding-top: 40px;
}

.car-interests h4 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.car-interests .interest-row {
  margin-bottom: 40px;
}

.interest-links {
  margin-bottom: 30px;
}

.car-links {
  display: flex;
  column-gap: 30px;
  row-gap: 15px;
  padding-bottom: 3px;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

.car-links h4 {
  font-size: 1.1rem;
  white-space: nowrap;
}

.subtitle {
  margin-bottom: 5px;
}

.subtitleModelPage {
  margin-bottom: 0px;
}

.modelsContainer {
  display: flex;
  gap: 5px 30px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#formUpdateCar {
  margin-left: 0;
  padding-bottom: 40px;
}

#formUpdateCar fieldset {
  margin-top: 35px;
}

#formUpdateCar legend {
  font-weight: bold;
  margin-left: 12%;
  margin-bottom: 13px;
  font-size: 1.3rem;
}

.carUpdateSwitch {
  font-weight: bold;
  color: #1e90ff;
  width: auto;
}

.carUpdateSwitch:hover {
  cursor: pointer;
}

#toImperial {
  color: #ff7f50;
}

.formOptions {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 20px;
}

.formChangesConfirmation,
.formChangesOptions div {
  display: flex;
  gap: 50px;
}

.formChangesOptions > p {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.formOption {
  font-weight: bold;
  color: #00b7ff;
  font-size: 1.3rem;
}

.formOption:hover {
  cursor: pointer;
}

@media only screen and (max-width: 945px) {
  .car-media .main-img .main-img-container img {
    max-height: calc(97vw / 1.3);
  }

  .card-technical-rows {
    flex-direction: column;
  }

  .formChangesConfirmation p {
    text-align: center;
  }

  .formOption {
    text-align: center;
  }

  .formChangesOptions > p {
    margin-bottom: 10px;
  }

  #formUpdateCar fieldset {
    margin-top: 20px;
    margin-bottom: 5vh;
  }

  .form-content-text-new input,
  .form-content-text-new select {
    font-size: 1rem;
  }

  .form-content-text-new {
    grid-template-columns: 29% 51% 18%;
    width: 100%;
    column-gap: 3px;
  }

  .form-content-text-new label,
  .form-content-text-new p {
    overflow: hidden;
    font-size: 0.8rem;
    text-align: end;
  }

  .form-content-text-new .carUpdateSwitch {
    text-align: left;
  }

  .formTitle {
    margin-bottom: 10px;
  }

  .inventory-categories {
    grid-template-rows: repeat(8, 330px);
  }

  .modelMakeLogo {
    display: grid;
    place-content: center;
  }

  .modelMakeLogo img {
    max-width: 95vw;
  }

  .top {
    padding-right: 5px;
  }

  .form-add-car {
    width: 100%;
  }

  fieldset {
    width: 100%;
  }

  .form-content-text input,
  .form-content-text select,
  .form-content-pic input {
    width: 90%;
  }

  .form-progress {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .years-options {
    flex-direction: column;
    gap: 10px;
  }
  .years-grid-content {
    padding-left: 0;
    padding-right: 0;
  }

  .car-logo img {
    max-height: 70px;
    max-width: 120px;
  }

  .side-imgs {
    margin-top: 3px;
  }

  .specs-control {
    display: none;
  }
  .main-view {
    overflow: auto;
    margin-bottom: 11vh;
    padding-top: 8vh;
    margin-left: 0px;
    width: 100vw;
    padding-left: 3px;
    padding-right: 3px;
  }

  .side-bar {
    display: none;
    width: max(15vw, 150px);
    z-index: 3;
  }

  .top {
    grid-template-columns: 160px auto 61.04px;
  }

  .top .mode {
    grid-column: 4/5;
    justify-self: end;
  }

  .search form {
    height: 5vh;
    align-content: center;
  }

  .mode {
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    place-self: start;
  }

  .searchOptions {
    padding-top: 0px;
    display: flex;
    justify-content: space-around;
    overflow: auto;
    margin-right: 20px;
    margin-left: 20px;
  }

  .searchIcon {
    display: grid;
    place-content: center;
  }

  nav .searchIconBottom {
    display: flex;
    justify-content: end;
  }

  .searchTop {
    display: none;
  }

  .menu {
    display: grid;
    align-content: center;
  }

  .search form {
    grid-template-rows: 1fr;
  }

  .car-info-container {
    grid-template-columns: 100%;
    row-gap: 5px;
    grid-template-rows: auto auto;
  }

  .car-media {
    grid-column: 1/3;
    grid-row: 1/2;
    grid-template-rows: calc(100vw / 1.3) auto;
  }
  .car-technical {
    grid-column: 1/2;
    grid-row: 2/3;
    overflow: hidden;
  }

  .car-media .side-imgs {
    grid-template-columns: 15% 15% 15% 15% 15%;
    height: 100%;
    gap: 10px;
  }

  .car-media .side-imgs img {
    max-width: 100%;
    height: auto;
  }

  .car-title-controls {
    max-height: 64.5px;
  }

  .car-basic-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .car-basic-info-section3 {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    flex-wrap: wrap;
  }

  .car-basic-info-section3 p,
  .car-basic-info-section3 a {
    white-space: nowrap;
  }

  .main-img {
    grid-template-columns: 5vw 90vw 5vw;
    place-content: center;
  }

  .previous-control {
    display: none;
  }

  .next-control {
    display: none;
  }

  .main-img-container {
    width: 100%;
    grid-column: 1/4;
    place-self: center;
    place-content: center;
  }

  .car-media .main-img .main-img-container img {
    max-width: 100%;
    place-self: center;
  }

  .car-description {
    padding-right: 0;
  }

  .car-links {
    row-gap: 0;
  }
}

@media only screen and (max-width: 508px) {
  .makeMainLogoContainer {
    display: grid;
    place-content: center;
  }

  .version-header {
    flex-direction: column;
  }

  .version-title {
    flex-direction: column;
  }

  .searchOptionsList {
    justify-content: flex-start;
  }

  .form-progress {
    margin-bottom: 60px;
    margin-top: 30px;
    text-align: center;
    border-radius: 0;
  }

  .index-content h1 {
    margin-bottom: 20px;
  }

  .inventory-categories {
    grid-template-rows: repeat(8, 270px);
    row-gap: 25px;
  }

  .car-basic-info-section1 {
    padding-left: 0;
    width: 100%;
    justify-content: space-around;
  }

  .car-basic-info-section2 {
    padding-left: 0;
  }

  .car-basic-info-section3 {
    gap: 0;
  }

  .car-basic-info {
    padding-left: 0;
    gap: 15px;
    justify-content: center;
    overflow: hidden;
  }
}

.dialogButtons {
  display: flex;
  place-self: end;
  gap: 10px;
  margin-left: 70%;
}

@media only screen and (max-width: 400px) {
  .dialogButtons {
    margin-left: 60%;
  }

  #deleteCarDialog {
    margin-top: 20vh;
    margin-left: 0;
  }
  .car-basic-info-section3 p {
    white-space: normal;
  }
  .search form input {
    padding-left: 12px;
  }

  .logoContainer img {
    max-width: 97vw;
  }

  .logoContainer {
    height: 50vh;
  }
}

#showSpecs,
#hideSpecs {
  color: white;
}

@media only screen and (min-width: 946px) {
  .car-info-container {
    background-color: black;
    border-radius: 5px;
  }

  .specs-control {
    margin-top: 5px;
    position: absolute;
    align-self: baseline;
    justify-self: end;
    display: flex;
    font-size: 1.2rem;
  }

  .specs-control p:hover {
    cursor: pointer;
  }

  .car-media {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .car-media .main-img {
    width: 100%;
    grid-template-columns: 5% 90% 5%;
  }

  .car-media .main-img {
    height: 5ivw;
  }

  #specs {
    position: relative;
    top: 29px;
    right: 50px;
  }
}

.visibleMenu {
  display: flex;
  padding-top: 30vh;
}

.makeDescriptionContainer,
.modelDescriptionContainer {
  overflow: hidden;
  text-align: justify;
}

.makeDescriptionController {
  display: inline;
  margin-left: auto;
  font-weight: bold;
  color: #12b300;
}

.makeDescriptionController:hover {
  cursor: pointer;
}
